@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary: hsl(59, 73%, 51%);
    --black: #333333;
    --width-break:600px
}

body {  
    margin: 0;
    font-family: 'Pacifico', cursive;
    color: #333333;
} 

nav {
    background-color: var(--primary);
    text-align: center;
}

main {
    margin: auto;
    padding: 1rem;
    max-width: var(--width-break);
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    min-height: 20vh;
    margin-top: 2rem;
    font-size: large;
    font-family: inherit;
}

.parot {
    background-color: var(--primary);
    width: 150px;
}


#translate-output {
    box-sizing: border-box;
    width: 100%;
    min-height: 10vh;
    max-height: 20vh;
    overflow:scroll;
    border: 1px solid var(--black);
}

footer{
    background-color: var(--primary);
    text-align: center;
    position: absolute;
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

#error-text{
    color:red;
}